// Global colors:

$background-color:          #2f284c;
$header:                    #ffffff;
$green:                     #3cb64b;

$dark-purple:               #281f3c;
$grey:                      #a4a4a4;


$btn-purple:                #b59de5;
