// Global colors:

$background-color:          #2f284c;
$backgorund-light:          #fafafa;
$header:                    #ffffff;
$green:                     #3cb64b;

$dark-purple:               #281f3c;
$grey:                      #a4a4a4;
$grey-bg:                   #fafafa;


$btn-purple:                #b59de5;
$stroke:                    #ededed;
