// Global colors:

$background-color:          #2f284c;
$header:                    #ffffff;
$green:                     #3cb64b;

$dark-purple:               #281f3c;



$btn-purple:                #b59de5;
