<section class="index">
  {{bg-player}}

  <div class="row">
    <div class="small-12 column animated bounceIn">

      <img src="assets/images/logo.svg" class="logo">
      <h1>Create your first awsome tournament!</h1>
      <a href="#" class="large button index__btn">Start right now!</a>

    </div>
  </div>

</section>
