<section class="session-new">

    <img src="assets/images/logo.svg" class="logo">
    <h1>Create tournament</h1>

    <div class="row">
      <div class="small-offset-2 small-8 column">
        {{session-form model=model}}
      </div>
    </div>

</section>
