<section class="session-show">
{{top-bar session=model}}

<div class="expanded row session-content">

  <div class="small-9 columns sessionContent__container">
    {{session-card}}
  </div>

  <div class="small-3 columns sessionRanking__container">
    {{session-ranking session=model}}
  </div>

</div>

</section>
